* {
    color: snow;
    margin: 0;
    padding:0;
    scroll-behavior: smooth;
}

*::selection {
    background-color: goldenrod;
}

body {
    background-color: black;
    z-index: 0;
        
}

p {
    width: 45%;
    
}

#inicio {
    font-size: 120px;
    padding-top: 20%;
    padding-bottom: 25%;
    margin-right:0;
    padding-right: 0;
    float:left;

}

#profile {
    
    filter: sepia(80%);
    padding: 10%;
    z-index: 0;

}

#menu {
    align-items: center;
    background-color: rgba(255, 215, 0, 0.4);
    display:flex;
    
    position:fixed;
    width: 100%;
    height: 2em;
    z-index: 1;    
}

#menu a {
    text-decoration: none;
    align-self: center;
    text-align: center;
    
}

#menu-itens {
    position: absolute;
    left: 50%;
    vertical-align: middle;
    align-items: center;
    
    
}

#menu-itens a  {
    height: auto;
   
}

#logo {

    height: auto;
    max-width: 2em;
    z-index: 100;
    margin-right: 8px;
      

}

.homepage label{
    transform-origin: center;
    position: absolute;
    transform: translateY(15%);
    font-size: 1.5em;
}

.homepage:hover{
    transition: 0.5s;
    background-color: rgba(255, 215, 0, 0.2);
    border-radius: 4%;
    align-items: center;
}

.opc {
    margin-right: 1em;
    padding-top: 50%;
    padding-bottom: 50%;
    align-self: center;
    position: relative;
    
}

.opc:hover {
    transition: 0.5s;
    background-color: black;
    color: rgba(255, 215, 0, 0.4);
    border-radius: 8%;
}

.conteiner {
    
    float: left;
    padding-left: 5%;
    padding-right: 5%;
    min-height: 100vh;
    min-width: 80vw;
    
}

.subtitulo {
    
    font-size: 40px;
    padding-top: 57px;
    padding-bottom: 20px;
        
}

#catalogo{
    
    background-color: rgb(25, 25, 25);
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: auto;
    min-height: auto;
    min-width: auto;
    max-width: 75vw;
    

}

.cartao {
    background-color: rgb(60, 60, 60);
    border-radius: 0.5em;
    border-color: gold;
    font-size: 2.2em;
    height: 8em;
    min-height: 300px;
    margin: 0.5em 0.5em;
    width: 6em;
    min-width: 250px;
    position: relative;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
       
}

.imagem-de-cartao {
    flex: 1;
    max-height: 60%;
    margin-bottom: 5%;
    max-width: 90%;
    position: relative;
    left: 5%;
    right: 5%;
    top: 0.5em;
    
}

.texto-de-cartao {
    flex: 1;
    height: 40%;
    position: relative;
    top: 1%;
    left: auto;
    right: auto;
    align-self: center;
}

.cartao:is(:hover, :focus) {
       
    transition: all .5s;
    transform: rotate3d(0, 1, 0, -15deg);
    transform: scale(1.15);
    background-color: gold;
}

.cartao-em-breve {
    background-color: rgb(60, 60, 60);
    border-radius: 0.5em;
    border-color: lime;
    font-size: 2.2em;
    height: 8em;
    min-height: 300px;
    margin: 0.5em 0.5em;
    width: 6em;
    min-width: 250px;
    position: relative;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    
    
}

.cartao-em-breve:is(:focus, :hover){
    border: 0;
    transition: all .5s;
    transform: scale(1.15);
    background-color: lime;
    
}

.tarja {
    font-size: 1em;
    height: auto;
    width: auto;
    transform: rotate(-45deg);
    background-color: lime;
    position:absolute;
    top: 1.7em;
    left: -0.5em;
    border-radius: 2em;
}

.cartao-em-breve:hover .tarja {
    transition: all .5s;
    background-color: gold;
}

#rodape {
    background-color: rgb(25, 25, 25);
    border: solid 3px gold;
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: center;
    text-align: center;
    width: 100vw;
    

}

#popup {
    
    transition: 2s;
    background-color: rgba(50, 0, 0, .5);
    display: none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 3;

}

#fundo-invisivel {
    height: 100vh;
    width: 100vw;
    position: fixed;
    opacity: 0;
    z-index: 4;

}

#conteudopopup {
    align-items: center;
    border-radius: 1em;
    background-color: rgb(25, 25, 25);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 800px;
    min-height: 445px;    
    width: clamp(500px, 80%, 800px);
    max-width: 80vw;
    min-width: 400px;
    position: absolute;
    height: 80vh;
    z-index: 5;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    
}

#botaofechar {
    background-color: rgb(26, 26, 26);
    border: 0;
    font-size: 2em;
    padding: 0 0.1em;
    position: absolute;
    top: 0;
    right: 0;
    
}



#botaofechar:is(:hover, :focus) {
    background-color: red;
}

#titulo-conteudo-popup {
    text-align: center;
    font-size: clamp(2em, 2em + 35%, 3em);
    position: relative;
    min-height: 15%;
    max-height: 30%;
    width: auto;
    top: clamp(1.5%, 1.5% + .3vh, 2.5%);
    
}

#imagem-conteudo-popup {
    position:relative;
    min-height: 30%;
    max-height: 50%;
    width: 80%;
}

#descricao-conteudo-popup {
    position: relative;
    top: clamp(1.5%, 1.5% + 1vh, 2.5%);
    min-height: 20%;    
    max-height: 40%;
    max-width: 80%;
    text-align: justify;
}



#botao-conteudo-popup {
    background-color: gold;
    border-radius: 1em;
    font-size: 1.5em;
    position: relative;
    max-height: 12%;
    padding: 0 2%;
    bottom: clamp(1%, 1.4% + 0.01vh, 2.5%);
        
}

#menu-hamburger {
    align-items: center;
    border-radius: 100%;
    position: absolute;
    right: 10px;
    display: none;
    flex-direction: colum;
    flex-wrap: wrap;
    width: 2.5em;
    height: 2.5em;
    background-color: transparent;
    justify-content: center;

}

.barras {
    position: absolute;
    background-color: white;
    width: 55%;
    height: 8%;
    left: auto;
    right: auto;
    
}

#barra1 {
    top: 0.5em;
}

#barra3{
    bottom: 0.5em;
    transform-origin: center;
}



@media (max-width: 1024px) {
    #texto-logo {
        display: none;
    }

    #popup {
        justify-content: center;
    }

    #conteudopopup {
        min-width: 96%;
        width: auto;  
        
    }

   

    #menu-hamburger {
        background-color: transparent;
        top: 1%;
        right: 1%;
        display: flex;
        position: absolute;
        height: 2em;
        width: 2em;
        z-index: 3;
        
    }

    #menu-hamburger.aberto {
        transform: translate(-50vw);
        transition: all 0.5s;
        background-color: black;
    }

    #menu-hamburger.aberto .barras {
        transition: 1s;
        background-color: red;
    }
    
    #menu-hamburger.aberto #barra1 {
        transition: .5s;
        position: absolute;
        transform: rotate(45deg) translate(.3em, 0.2em);
        
    }

    #menu-hamburger.aberto #barra2 {
       transition: .8s;
        display: none;
        
    }

    #menu-hamburger.aberto #barra3 {
        position: absolute;
        transform: rotate(-45deg) translate(.3em, -0.2em);
        
    }

  

    #menu-itens {
        font-size: 3em;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: 100vh;
        width: 50vw;
        position: absolute;
        transform: translateX(50vw);
        z-index: 2;
        margin-top: 0;
        
    }
    
    #menu-itens a {
        border-radius: 0;
        padding: 6vh;
        max-height: auto;

        
    }

    

    #menu-itens.aberto {
        transition: all .5s;
        transform: translate(-0vw, 50%);
        background-color: rgba(255, 215, 0, .4);
        padding-top: .5em;

    }

    .opc {
        padding: 0 0;
        margin: 0 0;
        max-height: 5em;
        width: 50vw;
    }

    #menu-itens .opc:is(:hover, :focus) {
        transform: all 1s;
        transform: scale(1.2);
        border: goldenrod solid .1em;
    }
    
}
